<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../../assets/menu.svg" />
      </ion-button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <img src="../../../assets/notification.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img class="app-title" src="../../../assets/appTitle.png">
    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input [(ngModel)]="term" placeholder="Search books" clearInput></ion-input>
      </ion-item>
    </div>
  </div>
  <ion-item lines="none" class="options-bar">
    <ion-item *ngIf="isDataLoaded" class="wishlist-toggle" lines="none">
      <ion-label>Wishlisted</ion-label>
      <ion-toggle (ionChange)="toggleWishlistedBooks()" [(ngModel)]="isWishlistedToggled"></ion-toggle>
    </ion-item>
    <ion-item lines="none" class="dropdown">
      <ion-select *ngIf="isDataLoaded" item-end [interfaceOptions]="customPopoverOptions" interface="popover"
        placeholder="Select One" [(ngModel)]="sortOption" (ionChange)="sortBooks($event)">
        <ion-select-option value="title">Title (A- Z)</ion-select-option>
        <ion-select-option value="author">Author (A - Z)</ion-select-option>
        <ion-select-option value="priceAscending">Price (Ascending)</ion-select-option>
        <ion-select-option value="priceDescending">Price (Descending)</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>
  <ion-col class="book-list">
    <ion-card button *ngFor="let book of books | filter:term" (click)="openBookDetailsPage(book.isWishlisted, book.id)">
      <ion-card-content>
        <ion-button class="wishlist-button" (click)="wishlistBook($event, book.id, book.isWishlisted)" expand="block"
          fill="clear" shape="round">
          <ion-icon class="wishlist-icon" *ngIf="!book.isWishlisted" slot="icon-only" name="heart-outline"></ion-icon>
          <ion-icon class="wishlist-icon" *ngIf="book.isWishlisted" slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <p class="title">{{book.title}}</p>
        <p class="author">By {{book.author}}</p>
        <p class="price">price: {{book.priceLabel}}</p>
        <p class="isbn">ISBN: {{book.isbn}}</p>
      </ion-card-content>
    </ion-card>
  </ion-col>

  <div *ngIf="errorOccured" class="error-notice" (click)="loadBooks()">
    <p class="error-notice-title">An error occured <br> while loading.</p>
    <p class="error-notice-subtitle">Press here to retry.</p>
  </div>
  <ion-col class="book-list" *ngIf="!isDataLoaded">
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-skeleton-text class="title" animated style="width: 90%"></ion-skeleton-text>
        <ion-skeleton-text class="author" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="price" animated style="width: 20%"></ion-skeleton-text>
        <ion-skeleton-text class="isbn" animated style="width: 20%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-content>